<%-include('header.ejs') %>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
  .contentabout{
    font-size:1.4rem;
    font-family: 'Roboto', sans-serif;
    color:#886F6F;
  }
  .contenthead{
    font-size:3rem;

    /* font-family: 'Mochiy Pop P One', sans-serif; */
  }
</style>
<div class = "container">
    <h1 class="contenthead">ABOUT US</h1>
    <h4 class="contentabout">JOB SPACE is one of Mysuru's largest
        job seeker-recruiter community that provides an
        one-stop platform for them to communicate and
        interact.
    </h4>
    <h4 class="contentabout">
        Clients searching for a job can find look for one on our platform with ease.
        Our platform also allows recruiter to put up a job which helps them fill their vacancies.
        The motive of Job-Space is to connect the job-seeker and recruiter with ease.
    </h4>
    <h1 class="contenthead">CONTACT US</h1>
    <h4 class="contentabout">
    Room No-L56
    SJCE Boys hostel <br>
        Campus Road ,Manasagangotri <br>
        Mysuru, 570006 <br>
        Phone: +(91)8240660072 <br>
        Email:support@jobspace.com <br>
    </h4>
</div>
