.search {
    width: 100%;
    border-radius: 5px;
    position: relative;
    display: flex;
  }

  .searchTermi{
    width: 100% !important;
    border: 3px solid #00B4CC !important;
    border-right: none !important;
    /* padding: 5px  !important; */
    height: 36px !important;
    border-radius: 5px 0 0 5px !important;
    outline: none !important;
    color: #9DBFAF !important;
  }
  .totnav{
    background-color: #2BBBAD !important;
}
  .searchTerm:focus{
    color: #00B4CC;
  }
.applied{
  background-color: green !important;
}
  .searchButton {
    width: 40px  !important;
    height: 42px  !important;
    border: 1px solid #00A5EC  !important;
    background: #00A5EC  !important;
    text-align: center  !important;
    color: #fff  !important;
    border-radius: 0 5px 5px 0  !important;
    cursor: pointer  !important;
    font-size: 20px  !important;
  }

  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 50%;
   margin: 1vh auto 0 auto;
    background-color: #FAFAFA;
  }

  .list__job{
      background-color: #FAFAFA;
      position: absolute;
      top:20%;
      left:10%;
      display: grid;
      grid-template-rows: 1fr;
  }
  .job__card{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width:50rem;
    padding: 1rem 3rem;
    /* margin-bottom: 2rem; */
    display: flex;
    flex-direction: column;
  }

  .headimg{
    display: flex;
    justify-content: space-between;
  }
  .headjob{
      display: flex;
      flex-direction: column;
  }
  .companylogo{
      width: 5rem;
      border-radius: 10px;
  }
  .desig{
      font-weight: 500;
      font-size: 1.6rem;
  }
  .company{
      font-style: italic;
  }
  .description{
      margin-top:3rem;
  }
  .description__head{
    font-weight: 500;
  }

  .rest{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2rem;
  }

  .salary,.duration,.location{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .head__Salary,.head__Applyby,.head__loca{
      font-weight: 500;
  }

  .applybutton{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
  }
  .apply{
      background: #00A5EC;
      color: #ffff;
      font-size: 16px;
      line-height: 24px;
      border: none;
      min-width: 146px;
      padding: 12px 32px;
      border-radius: 4px;
      max-width: 246px;
  }
