@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}
.whole__form{
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.education__head{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3vh 0;
    font-size: 1.5rem;
}
.education .aa{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px;
    padding: 2rem;
}
.job__experience .aa{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px;
    padding: 2rem;
}
.experience__head{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3vh 0;
    font-size: 1.5rem;
}
.skills .chip__whole
{
    width: 30vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px;
    padding: 2rem;
    margin-bottom: 5rem;
}
.skills__head{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3vh 0;
    font-size: 1.5rem;
}
